:root {
    --bg-dark: #1e3238;
    --bg-brown: #f7b58c;
    --bg-orange: #f1533b;
    --red: #ff4646;
    --bg-black: #192f34;
    --bg-dark-blue: #05355e;
}

.sale-main {
    position: relative;
    display: grid;
    margin-top: 5px;
    background: whitesmoke;

    grid-template-areas: 'sec1 sec2 sec2 sec3';
}

.sale-section-1 {
    background-color: white !important;
    display: grid;
    grid-area: sec1;
    background: transparent;
    width: max-content;
    max-width: 190px;
    border-top: none;
    overflow: hidden;
    border: 1px solid gainsboro;
    height: max-content;
    position: sticky;
    top: 80px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

.sale-left-1 {
    display: flex;
    flex-direction: column;
    justify-content: left;


}

.sale-left-1 a {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto 0;
    padding: 10px;
    padding-right: 25px;
    text-decoration: none;

}

.sale-left-1 a:hover {
    background-color: gainsboro;
}

#sale-left-link-icon {
    margin: auto 2px;
    font-size: 22px;
    color: var(--bg-black);
    margin-left: 5px;
    margin-right: 20px;
}

#sale-left-link-text {
    margin: auto 0;
    text-decoration: none !important;
    color: var(--bg-black);
    font-size: 19px;
    font-weight: 500;
    margin-left: 5px;
}





.sale-section-2 {
    position: relative;
    background: transparent;
    grid-area: sec2;
    overflow: hidden;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}

.sale-search-container {
    display: flex;
    flex-direction: column;
}

.sale-cards-holder {
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#sale-affilate {
    box-shadow: inset;
    box-shadow: 1px 1px 1px 1px black;
    padding: 10px;
}

#sale-head-2 {
    font-size: 45px;
    margin: 0 auto;
    font-weight: 800;
    display: flex;
}

.cart-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cart-button div {
    margin: auto 5px;
    font-size: 25px;
    font-weight: 900;
}

.sale-section-3 {
    z-index: 0;
    position: sticky !important;
    top: 90px;
    right: 0;
    display: grid;
    height: max-content;
    min-height: 300px;
    grid-area: sec3;
    background-color: white;
    overflow: hidden;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
}

#item-pic {
    padding: 5px;
}

#item-pic img {
    height: 100%;
}

.cart-items {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#plus:hover {
    color: rgb(89, 89, 209);
    font-size: 26px;
}

#minus:hover {
    color: var(--bg-orange);
    font-size: 26px;

}

.sale-section-3 p {
    font-size: 20px;
    font-weight: 500;
    margin: 0;

    text-align: center;
    width: 100%;
    background-color: rgba(241, 196, 110, 0.9);
    height: max-content;
}

.sale-cart-container {
    display: flex;
    flex-direction: column;
}

#offcanvasRight{
    width: 100vw!important;
}

@media screen and (max-width: 1200px) {
    .sale-section-3 {
        min-width: 0;
        max-width: unset !important;

    }

   
    .sale-section-1 {
        max-width: 190px;
    }
}

@media screen and (max-width: 900px) {
    .sale-section-3 {
        display: block;
    }

    .sale-section-1 {
        width: 60px;
    }

}

@media screen and (max-width: 825px) {
    .sale-section-1 {
        display: block;
    }

    .sale-section-1 {
        width: 60px;
    }

}


@media screen and (max-width: 768px) {
    .sale-section-1 {
        display: none;
    }

}

@media screen and (max-width: 645px) {
    .sale-section-3 {
        max-width: 140px !important;
    }

    .cart-price {
        font-size: 16px !important;
    }
}

@media screen and (max-width:550px) {
    .sale-section-3 {
        display: none !important;
    }
}